@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  background-color: #f8f8ff;
  font-family: "Lato", sans-serif;
  @apply text-black;
}

.OppApp {
  display: flex;
  justify-content: center;
  margin: 1rem;
  color: rgb(84, 18, 145);
}

#ElderPic {
  height: 500px;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

#MOB {
  border: black 2px solid;
  background-color: rgb(212, 211, 213);
  padding: 3px;
  border-radius: 5px;
}

#MOB:hover {
  background-color: white;
}

#MOBDiv {
  display: flex;
  justify-content: right;
}
